.idea
.vs
.vscode/settings.json
.vscode
build
cmake-build*
release/Scripts/*.pex
release/SKSE/Plugins/SkyrimNetMessagelessImmersion.dll
release/SNMI_release_*.zip
MODDER RESOURCES FOR YPS FASHION M.txt
SkyrimNetMessagelessImmersion_LOG_WITH_SOME_YPS_EVENTS_AT_GAME_STARTUP.log
